{% extends 'components/base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/page.css') }}">
{% endblock %}

{% block title %}
	{{ siteName }}: Bienvenue
{% endblock %}


{% block body %}
<div class="home-wrapper">

    <h1>Homepage</h1>

</div>
{% endblock %}
