/* Variables */
:root {
   /* Colors */
   --header-footer-bg: #26466A;
   --header-sous-titre: rgb(255, 102, 0);
   --blanc: white;
   --gris1: rgb(230, 230, 230);

   /* Heights */
   --header-min-height: 70px;
   --footer-height: 100px;

   /* Paddings */
   --page-wrapper-padding: 40px;
   --footer-padding: 40px;
}

html {
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family: 'Montserrat', sans-serif;
}


html,
body {
   height: 100%;
   overflow-x: hidden;
}

body {}


html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
   padding: 0;
   margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   text-transform: uppercase;
   font-weight: 300;
}

.header-main-container {
   margin-bottom: calc((var(--footer-height) + var(--footer-padding) * 2) * (-1));
   min-height: 100%;
   width: 100%;
}

.header-main-container:after {
   content: "";
   display: block;
   height: calc(var(--footer-height) + var(--footer-padding) * 2);
}