.bloc-experiences {
   display: flex;
   flex-direction: column;
   align-self: flex-start;
   border: red solid 1px;
   min-width: 200px;
   /* max-width: 600px; */
   /* min-height: 100px; */
   padding: 20px 0;
}

.experience {
   border: gray 1px solid;
   padding-bottom: 40px;
}

.experience>* {
   padding: 5px 0;
}

.dates-experience {
   color: var(--gris10);
   font-size: .85em;
   background-color: var(--gris2);
}

.titre-experience {
   font-weight: 700;
   text-transform: uppercase;
   background-color: var(--gris2);
}

.entreprise-experience {
   text-transform: uppercase;
   background-color: var(--gris2);
}

.resume-experience {
   color: var(--gris13);
   font-size: .9em;
   font-style: italic;
}

.liens {
   padding-top: 10px;
}

.technos-utilisees {
   display: flex;
   border: greenyellow solid 1px;
   padding: 12px 0;
}

.titre-technos-utilisees {
   color: var(--header-footer-bg);
   border: rgb(30, 192, 210) 1px solid;
   font-size: .7em;
   width: 70px;
   text-transform: uppercase;
   padding-top: 3px;
}

.liste-technos-utilisees {
   display: flex;
   flex-wrap: wrap;
   border: rgb(168, 135, 160) 1px solid;
   align-items: flex-start;
}

.techno-utilisee {
   margin: 5px;
}

.techno-utilisee-logo {}

.image-techno-utilisee-logo {
   width: 30px;
   height: 30px;
}

.image-techno-utilisee-logo img {
   width: 100%;
   height: 100%;
   object-fit: contain;
   /* filter: grayscale(100%); */
}