.header-wrapper {
   min-height: var(--header-min-height);
   background-color: var(--header-footer-bg);
   padding: var(--header-padding);
   position: relative;
   color: white;
}

.bloc-header-haut {
   display: flex;
   border: solid violet 1px;
   position: relative;
   flex-wrap: wrap;
}

.photo-et-noms {
   display: flex;
   align-items: center;
   border: white 1px solid;
   position: relative;
}

.photo {
   width: 10.5vw;
   height: 10.5vw;
   max-width: 190px;
   max-height: 190px;
}

.photo img {
   width: 100%;
   height: 100%;
   border: solid 5px white;
   border-radius: 50%;
}

.nom-et-prenom {
   padding: 0 40px;
}

.nom {}

.prenom {}

.titres {
   border: solid green 1px;
   margin: auto;
   position: relative;
   font-size: 1vw;
}

.titre {
   position: relative;
   font-size: 3em;
   border: solid rgb(128, 0, 0) 1px;
}

.titre h1 {
   font-weight: 200;
}


.sous-titre {
   font-size: 1.9em;
   position: relative;
   color: var(--header-sous-titre);
   float: right;
   left: 0em;
   top: -1.3em;
}

.sous-titre h1 {
   font-weight: 400;
}


/* Grand écrans */
@media screen and (min-width: 2000px) {
   .titres {
      font-size: 1.3rem;
   }
}

/* Écrans moyens */
@media screen and (max-width: 1300px) {
   .photo {
      width: 138px;
      height: 138px;
   }
}

/* Petits écrans */
@media screen and (max-width: 700px) {
   .bloc-header-haut {
      flex-direction: column;
      align-items: center;
   }

   .photo-et-noms {
      padding-bottom: 40px;
   }

   .titres {
      font-size: .43em;
   }
}