.header-wrapper {
   min-height: var(--header-min-height);
   background-color: var(--header-footer-bg);
   padding: var(--header-padding);
   position: relative;
}

.bloc-header-haut {
   display: flex;
   border: solid violet 1px;
   position: relative;
   flex-wrap: wrap;
}

.photo-et-noms {
   display: flex;
   border: white 1px solid;
   position: relative;
}

.photo {
   width: 50px;
   height: 50px;
   border: solid 4px white;
   border-radius: 50%;
}

.photo img {
   width: 100%;
   height: 100%;
}

.nom-et-prenom {}

.nom {}

.prenom {}

.titres {
   border: solid green 1px;
   margin: auto;
   position: relative;
}

.titre {
   position: relative;
   border: solid rgb(128, 0, 0) 1px;
}

.sous-titre {
   position: relative;
   color: orangered;
   right: -157px;
   bottom: 20px;
}

