.header-wrapper {
   min-height: var(--header-min-height);
   background-color: var(--header-footer-bg);
   padding: var(--header-padding);
   position: relative;
   color: white;
}

.bloc-header-haut {
   display: flex;
   border: solid violet 1px;
   position: relative;
   flex-wrap: wrap;
}

.photo-et-noms {
   display: flex;
   border: white 1px solid;
   position: relative;
}

.photo {
   width: 110px;
   height: 110px;
   border: solid 4px white;
   border-radius: 50%;
}

.photo img {
  
}

.nom-et-prenom {}

.nom {}

.prenom {}

.titres {
   border: solid green 1px;
   margin: auto;
   position: relative;
   font-size: 1vw;
}

.titre {
   position: relative;
   font-size: 3em;
   border: solid rgb(128, 0, 0) 1px;
}


.sous-titre {
   font-size: 1.5em;
   position: relative;
   color: var(--header-sous-titre);
   float: right;
   left: 0em;
   top: -1.5em;
}

.sous-titre h1 {
   font-weight: 400;
}