footer {
   padding: var(--footer-padding);
   background-color: var(--header-footer-bg);
   /* La hauteur doit impérativement être fixe pour que le footer reste correctement positionné en bas de page */
   height: var(--footer-height);
}


