nav {
   position: sticky;
   top: 0;
   color: var(--header-footer-font-color);
   z-index: 100;
   /* border: greenyellow solid 1px; */
}

.navbar {
   background-color: var(--header-footer-bg);
   padding: 25px 60px;
   text-transform: uppercase;
   font-size: 1.2em;
   font-weight: 500;
   /* border: red solid 1px; */
}

nav a {
   border-bottom: transparent solid 4px;
   color: white;
   padding: 8px 0;
   transition: ease-in-out .4s all;
}

nav ul {
   /* border: mediumturquoise solid 1px; */
   padding: 0;
   margin: 0;
   display: flex;
   justify-content: space-around;
}

nav li {
   /* border: violet solid 1px; */
   list-style-type: none;
   padding: 0;
   margin: 0;
}

.active, nav a:hover {
   border-bottom: var(--header-sous-titre) solid 4px;
   transition: ease-in-out .4s all;
}