<div class="header-wrapper">
   <div class="ancre" id="top"></div>

   <div class="bloc-header-haut">
      <!-- TODO: Mettre Photo et nom dans un lien home -->
      <a href="">
         <div class="photo-et-noms">
            <div class="photo">
               <img src="{{ asset('images/moi.jpg') }}" alt="photo moi">
            </div>
            <div class="nom-et-prenom">
               <div class="prenom">Éric</div>
               <div class="nom">SCHEFFER</div>
            </div>
         </div>
      </a>
      <div class="titres">
         <div class="titre">
            <h1>Développeur</h1>
         </div>
         <div class="sous-titre">
            <h1>web</h1>
         </div>
      </div>
   </div>


</div>