<div class="navbar">
   <ul>
      <li>
         <a href="{{ path('home') }}#top">
            Accueil
         </a>
      </li>
      <li>
         <a href="{{ path('home') }}#competences">
            Compétences
         </a>
      </li>
      <li>
         <a href="{{ path('home') }}#experiences">
            Expériences
         </a>
      </li>
      <li>
         <a href="{{ path('home') }}#derniereSection">
            Dernière section
         </a>
      </li>
   </ul>
</div>