<div class="navbar">
   <ul>
      <li>
         <a href="{{ path('home') }}#top">
            Accueil
         </a>
      </li>
      <li>
         <a href="{{ path('home') }}#technologies">
            technologies
         </a>
      </li>
      <li>
         <a href="{{ path('home') }}#experiences">
            Expériences
         </a>
      </li>
      <li>
         <a href="{{ path('home') }}#contact">
            Contact
         </a>
      </li>
   </ul>
</div>