<div class="navbar">
   <ul>
      <li>
         <a href="{{ path('home') }}#top" class="active">
            Accueil
         </a>
      </li>
      <li>
         <a href="{{ path('home') }}#competences">
            Compétences
         </a>
      </li>
      <li>
         <a href="{{ path('home') }}#experiences">
            Expériences
         </a>
      </li>
      <li>
         <a href="{{ path('home') }}#footer">
            Bas
         </a>
      </li>
   </ul>
</div>